---
import BlogPostLayout from '../../layouts/BlogPostLayoutPicVideo.astro';
const captions = [
    "An audience listens to Ms. Alison Davidian speak about women in Afghanistan on March 11, 2025 at Heyground coworking space in Seoul, SK",
    "Ms. Alison Davidian taking questions after her talk about women in Afghanistan on March 11, 2025 at Heyground coworking space in Seoul, SK"
];
const title = "National Folk Museum of Korea"
const date = "April 13, 2025"
const location = "Seoul, South Korea"
const images = Object.values(import.meta.glob('../../assets/folkmuseum/*.webp', { eager: true}));
const videos = [
    {index: 6, src: "https://drive.google.com/file/d/1yUSnB4Rdf1ePhllnwp7vH2yg6fgFMMox/preview"},
    {index: 13, src: "https://drive.google.com/file/d/1Ofd3YV_DIXGO89PFxNL4tWJYdTRPg8iV/preview"},
    {index: 19, src: "https://drive.google.com/file/d/1tqri_QDFSBR-b7NJA8jVMiNqZJf2aOo2/preview"}
];
---
<BlogPostLayout
    captions={captions}, 
    title={title},
    date={date},
    location={location},
    images={images},
    videos={videos}
>
<p> 
    During my kids’ Spring (봄) school vacation (방학) we took an unexpected trip to the National Folk Museum of Korea. We were supposed to go to the free Arts and Crafts museum, but they closed unexpectedly due to rallies and protests related to the impeachment of President 윤석열. Thankfully the Children’s exhibit at the National Folk Museum of Korea was within walking distance and also free. In fact, the entire National Folk Musuem is free! You can also get a glimpse of the famous Gyeongbokgu Palace from the museum campus without paying the palace entrance fee.
    <span></span>
    Typically free children’s (아이들) museums in Seoul require advanced reservations, but luckily there was still availability. While waiting for the 11 AM entrance time, my kids played on a radiant rainbow playground next to the museum entrance. Then once 11 AM hit my kids were allowed to play for 80 minutes inside the children’s museum. Among the many activities, my kids were most drawn (no pun intended!) to the art activity where they got to see their art come to life on a big screen.
    <span></span>
    Thanks to our wonderful nanny, Lolita, I got to explore other exhibits in the museum on my own. I learned about family, seasons, and death during the Joseon era. I was very impressed by the digital art and the many pieces that were interactive. We got to take a picture with King Sejong and learned how to do some traditional Korean folk dance moves!
    <span></span>
    Before heading home we went to have lunch at a fancy Seven Eleven. It had a second level seating area decorated in Hanok-ish style with a view of the Gyeongbokgu palace and 북악산 (Bugaksan) mountain. Since it’s not a 식당 (restaurant) you’re encouraged not to linger for long, to be quiet, and if you need forks, you may be out of luck. However, we were all happy campers with our standard convenience store food like instant ramen, 김밮 (gimgbap), 과자 (snacks) and drinks.
    <span></span>
    To my readers - I wasn't eager to visit the National Folk Museum of Korea based on the name, but thank goodness fate had other plans. I highly recommend it to anyone visiting Seoul!  감사합니다 (thank you) for reading and goodbye!
    <span class="end"></span>
</p>
</BlogPostLayout>
<style>
span{
        display: block;
        height: 1.05rem;
    }
    .end{
        height:10px;
    }
</style>