---
import BlogPostLayout from '../../layouts/BlogPostLayoutPicVideo.astro';
const captions = [
    "Me and the kids at the entrance of the National Folk Museum of Korea on April 2, 2025",
    "Waiting for the bus near our 집 (house) to take us to the Jongno-gu area of Seoul where the museum is located. The air quality was poor this day",
    "President 윤석열 impeachment demonstrators near Anguk Station. We had planned to visit the Museum of Craft Art, but it closed due to demonstrations",
    "The kids playing on a rainbow playground while waiting for our entrance time to the National Folk Museum of Korea Children's Museum",
    "Photo opp on our way to entering the museum",
    "Kiddos doing a kite coloring activity inside the National Folk Museum of Korea Children's Museum",
    "The boys discovered they could scan their kite creations to be displayed on the large wall in front of them.",
    "Ezra trying out a piece involving getting a ball to come to the middle of a maze",
    "Gotta have the ball pit in a kids museum!",
    "Entrance to the Korean Life Passages permanent exhibit in the main area of the National Folk Museum of Korea",
    "A beautiful (fake) tree in Autumn (가을) decorates the part of the exhibit about seasons",
    "A bier or coffin used in burial processions during the Joseon Era",
    "A piece with a picture of a burial procession. Zoom in to read the text under the picture to learn more",
    "An impressive digital art piece",
    "Another impressive digital art piece...go to the next slide to see why!",
    "Yum! 맛싰어요! :)",
    "A Traditional Hanbok worn during Winter (겨울) on display",
    "Another impressive digital art piece. The digital leaves on the floor looked so real!",
    "아녕하세요, 선셍님! Hello, teacher! The kiddos take a picture with a wax figure of a teacher during the Joseon Dynasty",
    "Kids playing a game that taught them how to do some traditional Korean dance moves, and also allowed the kids to freestyle at the end of the game.",
    "Kids with our wonderful nanny, Lolita, in front of one of the buildings of the Gyeongbokgu Palace",
    "Eating our convenience store lunch on the second floor of a Seven Eleven right nearby the National Folk Museum of Korea",
    "Ezra admiring the view from the fancy Seven Eleven",
    "The most beautiful (예버요) Seven Eleven I have ever seen! :)"

];
const title = "A Visit to the National Folk Museum of Korea"
const date = "April 13, 2025"
const location = "Seoul, South Korea"
const images = Object.values(import.meta.glob('../../assets/folkmuseum/*.webp', { eager: true}));
const videos = [
    {index: 6, src: "https://drive.google.com/file/d/1yUSnB4Rdf1ePhllnwp7vH2yg6fgFMMox/preview"},
    {index: 13, src: "https://drive.google.com/file/d/1Ofd3YV_DIXGO89PFxNL4tWJYdTRPg8iV/preview"},
    {index: 19, src: "https://drive.google.com/file/d/1tqri_QDFSBR-b7NJA8jVMiNqZJf2aOo2/preview"}
];
---
<BlogPostLayout
    captions={captions}, 
    title={title},
    date={date},
    location={location},
    images={images},
    videos={videos}
>
<p> 
    During my kids’ Spring (봄) school vacation (방학) we took an unexpected trip to the National Folk Museum of Korea. We were supposed to go to the free arts and crafts museum, but they closed unexpectedly due to demonstrations related to the impeachment of President 윤석열. Thankfully, the Children’s exhibit at the National Folk Museum of Korea was within walking distance and also free. In fact, the entire National Folk Musuem is free! You can also get a glimpse of the famous Gyeongbokgu Palace from the museum campus without paying the palace entrance fee.
    <span></span>
    Typically free children’s (아이들) museums in Seoul require advanced reservations, but luckily there was still availability. While waiting for the 11 AM entrance time, my kids played on a radiant rainbow playground next to the museum entrance. Once 11 AM hit we entered the museum and my kids were allowed to play for 80 minutes inside the children’s museum. Among the many activities, they were most drawn (no pun intended!) to the art activity where they got to see their art come to life on a big screen.
    <span></span>
    Thanks to our wonderful nanny, Lolita, I got to explore other exhibits in the museum on my own. I learned about family, seasons, and death during the Joseon era. I was very impressed by the digital art and the many pieces that were interactive. I had the kids take a picture with a teacher from the Joseon Dynasty and they learned how to do some traditional Korean folk dance moves!
    <span></span>
    Before heading home we went to have lunch at a fancy Seven Eleven. It had a second level seating area decorated in Hanok-ish style with a view of the Gyeongbokgu palace and 북악산 (Bugaksan) mountain. Since it’s not a 식당 (restaurant) you’re encouraged not to linger for long, to be quiet, and if you need forks, you may be out of luck. However, we were all happy campers with our standard convenience store food like instant ramen, 김밮 (gimgbap), 과자 (snacks) and drinks.
    <span></span>
    To my readers - I wasn't eager to visit the National Folk Museum of Korea based on the name, but thank goodness fate had other plans. I highly recommend it to anyone visiting Seoul!  감사합니다 (thank you) for reading and goodbye!
    <span class="end"></span>
</p>
</BlogPostLayout>
<style>
span{
        display: block;
        height: 1.05rem;
    }
    .end{
        height:10px;
    }
</style>