---
import BlogPostLayout from '../../layouts/BlogPostLayoutPicVideo.astro';
const captions = [
    "Main entrance to The Blue House (청와대) on June 26 2025. Going West down Cheong Wa Dae street is a long line of visitors waiting to enter The Blue House",
    "청와대에서 많은 사람들 있었어요! There were many people at The Blue House!",
    "Megan and I killing the time in line ",
    "On our way to the residence building down one of many tree-lined pathways at The Blue House",
    "Another beautiful tree-lined path. I wonder if Lee Jae-myung, South Korea's newly elected president, will keep these benches? ^^",
    "Entrance to the residence building at the Blue House",
    "View at the top of a steep trail behind the residence building.",
    "Entrace of the main building at The Blue House",
    "A meeting room in the main building",
    "First ladies of South Korea. Yes, one was not Korean!",
    "Portraits of presidents of South Korea. There is no portrait of former president Yoon Suk Yeoul who was recently impeached",
    "The Blue House's main building with the blue tiled roof. 청와대는 너무 복잠했었어요! The Blue House was too crowded!",
    "Me enjoying walking through another tree-lined path!",
    "Megan posing in front of a lovely waterfall at The Blue House",
    "Walking along a serene stream at the Blue House",
];
export const title = "Last Chance at the Blue House"
export const date = "July 24, 2025"
export const location = "Pacifica, CA, USA"
const images = Object.values(import.meta.glob('../../assets/lastchancebluehouse/*.webp', { eager: true}));
const videos = [];
---
<BlogPostLayout
    captions={captions}, 
    title={title},
    date={date},
    location={location},
    images={images},
    videos={videos}
>
<p> 
    The Blue House or Cheongwadae (청와대) is the South Korean presidential campus, like the US’s White House. South Korea’s recently impeached president, Yoon Suk Yeol, decided not to live in Cheongwadae when he was elected in 2022. This decision allowed South Koreans and tourists alike to explore all of Cheongwadae because it became a public park. However, starting next month entrance to Cheongwadae will become restricted as the newly elected president, Lee Jae-myung, has decided to move back.
    <span></span>
    Hence, it has been a frenzy at The Blue House! My friend, Megan (메간), and I got to see the chaos first hand. It took one hour to buy our tickets via the foreigner walk-in line, and to get through the entrance queue. We first visited the residence building where unfortunately, we were not allowed to go inside. Behind the residence building we found a steep trail that led us to a gorgeous city view complete with Seoul tower in the distance. 
    <span></span>
    The next building we toured was the main building with the blue tiled roof, which is where the Blue House gets its name. This building is the President’s office so the rooms here are for conducting important meetings and gatherings. The main building’s decor was regal, and included photos of First Ladies, portraits of presidents, and culturally significant artwork. Once we exited the main building we had been on our feet for 2 hours. We were ready to leave the chaos and get some lunch!
    <span></span>
    To my readers - the absolute best part of the Blue house was enjoying its nature. I wish I could be president so I could enjoy Cheong Wa Dae’s trails, stream, water fall, and endless tree lined pathways every day! Thanks for reading my post! 안녕히가세요! Bye Bye!
    <span class="end"></span>
</p>
</BlogPostLayout>
<style>
span{
        display: block;
        height: 1.05rem;
    }
    .end{
        height:10px;
    }
</style>