---
import BlogPostLayout from '../../layouts/BlogPostLayout.astro';
import '../../styles/BlogSpacing.css';
const captions = [
    "Ms. Shoblom and friend, Mrs. Shub, are welcomed at ScentOn HQ on March 11, 2025.",
    "Synthetic scents to choose from in making our own perfume.",
    "ScentOn's (Scentlier) class got us started with a base perfume (see bottom left corner of paper), then we added 40 drops among petitgrain, tangerine, ylang ylang, rose, peru balsam, and cedarwood.",
    "10+ days after March 11,  I am very happy with my custom 니콜 perfume in a simple yet beautiful bottle. ScentOn also gifted my friends and I a complimentary perfume tag!"
];
const title = "A Feast for the Nose"
const date = "April 2, 2025"
const location = "Seoul, South Korea"
const images = Object.values(import.meta.glob('../../assets/perfume/*.webp', { eager: true}));
---
<BlogPostLayout 
    captions={captions}, 
    title={title},
    date={date},
    location={location},
    images={images}
>
<p> 
    I didn't know that smelling different scents would make me so happy! I was unsure what to expect from ScentOn's perfume making class in Seoul's Gangnam district. 하지만 지금 (But now) I may have become hooked on making my own beauty products. Such an activity brings me joy akin to arts and crafts, or cooking!
    <span></span>
    ScentOn has a product line called Scentlier. One could purchase Scentlier's perfumes on their ecommerce site, alternatively you can be Ms. Shoblom (or one of her friends) and get a custom personalized Scentlier perfume complete with an unforgetabble in-person experience! The "니콜" scent that I made was 80% of a base pre-concocted by Scenton's expert perfumers, and 20% tangerine, rose, peru balsam, and cedarwood. My friends and I were instructed to let our perfume creations age for 10 days before use. In addition to the 50 ml bottle of perfume, we smelled many different types of synthetic scents, plus we learned that smelling yourself acts as a really good nose 'palate' cleanser!
    <span></span>
    Fast forward 10 days later and I am loving my perfume! A "perfume-class-Seoul" Google search brings up many businesses that offer a similar experience to Scentlier's perfume making class. However, I know that some of these businesses have customers make 100% of their perfume.  The selection of different scents is also quite large! Unless one is an expert perfumer, such a set up probably sounds like a daunting task! 그래서 (So), I think that Scentlier has the right strategy to make 80% of the perfume ensuring a quality product and happy customers.
    <span></span>
    To my readers - I wish there was tech to digitally share my perfume smell! Until next time... 감사합니다 (thankyou) for stopping by!
    <span class="end"></span>
</p>
</BlogPostLayout>