---
import BaseLayout from '../layouts/BaseLayout.astro';
const PageTitle = "Blog";
const postFiles = import.meta.glob('./posts/*.astro', { eager: true });

const posts = Object.entries(postFiles).map(([path, module]) => {
  const slug = path.replace('./posts/', '').replace('.astro', '');
  const title = module.title ?? slug;
  const imagePath = `/images/${slug}/pic01.webp`;
  return {
    slug,
    title,
    url: `/posts/${slug}`,
    date: new Date(module.date),
    imagePath,
  };
})
.sort((a, b) => b.date - a.date);
---

<BaseLayout PageTitle={PageTitle}>
    <ul class="post-list">
        {posts.map((post) => (
        <li class="post-item">
            <div class="post-content">
                <a href={post.url} class="post-link-image">
                    <img src={post.imagePath} alt={`Cover image for ${post.title}`} class="post_image"/>
                </a>
            <a href={post.url} class="post-link">{post.title}</a>
            </div>
        </li>
        ))}
    </ul>
</BaseLayout>
    <style>
        .post-list {
            list-style-type: none; /* Remove bullets */
            padding: 0; /* Remove default padding */
            margin: 2rem auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 0px;
            max-width: 100%
        }
        .post-item {
            margin-bottom: 10px; /* Add spacing between items */
        }
        .post-content {
            display: flex;
            flex-direction: column; /* Stack image and title vertically */
            align-items: flex-start; /* Center align the content */
        }
        .post-link-image{
            margin-top: 0px;
        }
        .post-link {
            text-decoration: none; /* Remove underline from links */
            color: inherit; /* Use the inherited text color */
            margin-top: 0px; /* Add spacing between the image and the title */
            font-size: 20px; /* Adjust font size for better readability */
            margin-bottom: 25px;
            font-family: 'Poppins', sans-serif;
            text-align: left;
            font-weight: 600;
            margin-left: 5px;
        }
        .post-link:hover {
            color: coral; /* Optional: Add hover effect */
        }
        .post_image {
            width: 100%; /* Set the width of the image */
            height: auto; /* Maintain the aspect ratio */
            max-width: 100%; /* Ensure the image doesn't exceed the container width */
            margin-bottom: 0px; /* Add spacing below the image */
        }
        @media (min-width: 768px) {
            .post-list{
                max-width: 50%
            }
        }

        @media (orientation: landscape) {
            .post-list{
                max-width: 100%
            }
            .post-content {
                display: flex;
                flex-direction: row; /* Arrange items in a row */
                align-items: center; /* Center-align items vertically */
                justify-content: flex-start; /* Align items to the left */
            }
            .post-link {
                margin-left: 15px; /* Add spacing between the image and the title */
                text-align: left; /* Ensure the title is left-aligned */
                max-width: 50%;
            }
            .post-image {
                flex-shrink: 0; /* Prevent the image from shrinking */
                max-width: 50%;
            }
        }
    </style>