---
// Props for the WorkItem component
const { company, jobRole, jobRole2, jobRole3, jobRole4, location, dates, accomplishments } = Astro.props;
---

<div class="work-item">
    <div class="work-details">
        <h3>{company}</h3>
        <p>{jobRole}</p>
        <p>{jobRole2}</p>
        <p>{jobRole3}</p>
        <p>{jobRole4}</p>
        <p>{dates}</p>
        <p>{location}</p>
    </div>
    <div class="work-accomplishments">
        <ul>
            {accomplishments.map((item) => (
                <li>{item}</li>
            ))}
        </ul>
    </div>
</div>

<style>
    .work-item {
        display: flex;
        flex-direction: row;
        gap: 0px;
        padding-top: 20px;
        padding-bottom: 0px;
        padding-left: 5px;
        padding-right: 10px;
    }

    @media (min-width: 768px) {
        .work-item {
            flex-direction: row; /* Align details and accomplishments side by side on desktop */
            justify-content: space-between;
        }
    }

    .work-details {
        flex: 1;
        max-width: 30%; /* Limit the width of the left section */
        text-align: left;
        text-align: center;
    }

    .work-details h3 {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
    }

    .work-details p {
        margin: 5px 0;
        font-size: 13px;
        color: gray;
    }

    .work-accomplishments {
        flex: 2;
        max-width: 70%; /* Allow the right section to take more space */
        text-align: left;
    }

    .work-accomplishments ul {
        margin: 0;
        padding-left: 20px; /* Indent for list items */
        font-size: 13px;
        list-style: none; /* Remove bullets */
    }

    .work-accomplishments li {
        margin-bottom: 10px;
        position: relative;
    }

    .work-accomplishments li::before {
        content: "•"; /* Add a custom bullet */
        color: coral;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }
</style>